
#one {
  width: 50%;
  height: 50%;
  background-color: rgb(66, 244, 188);
  float: left;
  
}


#two {
  width: 50%;
  height: 50%;
  background-color: rgb(244, 65, 136);
  float: right;
  
}



body {
  background-color: #42f4c5;
  
  
}